---
interface Badge {
  title: string;
  color: string;
}

interface Badges {
  [key: string]: Badge;
}

interface Works {
  [key: string]: {
    company: string;
    title: string;
    date: string;
    description: string;
  };
}


const experiences: Works = {
  sonata: {
    company: 'Sonata',
    title: 'Desenvolvedor Fullstack JR',
    date: 'Jun 2017 - Dez 2019',
    description:
      'Desenvolvimento de produtos utilizando NodeJS, Express, Ruby on Rails, AngularJS, React, MongoDB e PostgreSQL em contexto de Microserviços utilizando como cloud AWS',
  },
  cliqueRetire: {
    company: 'CliqueRetire',
    title: 'Desenvolvedor Fullstack PL',
    date: 'Dez 2020 - Dez 2021',
    description:
      'Desenvolvimento de produtos utilizando NodeJS, Express, React e MongoDB em contexto de Microserviços, além de criar aplicativos utilizando React Native e desenvolvia de aplicações desktop usando NodeWebkit',
  },
  haytek: {
    company: 'Haytek',
    title: 'Desenvolvedor Fullstack PL',
    date: 'Jan 2021 - Jan 2023',
    description:
      'Desenvolvimento de produtos utilizando NodeJS, Express, React e MongoDB em contexto de Microserviços, além de criar aplicativos utilizando React Native e desenvolvia de aplicações desktop usando NodeWebkit',
  }
};

const { sonata, cliqueRetire, haytek } = experiences;
---

<section class='dark:text-white body-font overflow-hidden'>
  <div class='container px-5 py-24 mx-auto'>
    <h2
      class='sm:text-3xl text-2xl font-medium title-font text-center dark:text-white text-purple-500 mb-5'
    >
      Experiência
    </h2>
    <div class='-my-8 divide-y-2 divide-gray-100'>
      <div class='py-8 flex flex-wrap md:flex-nowrap'>
        <div class='md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col'>
          <span class='font-semibold title-font text-2xl text-purple-500'>
            {sonata.company}
          </span>
          <span class='mt-1 text-gray-500 text-sm'>{sonata.date}</span>
        </div>

        <div class='md:flex-grow'>
          <h2 class='text-2xl font-semibold title-font mb-2'>
            {sonata.title}
          </h2>
          <p class='leading-relaxed'>{sonata.description}</p>
        </div>
      </div>

      <div class='py-8 flex flex-wrap md:flex-nowrap'>
        <div class='md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col'>
          <span class='font-semibold title-font text-2xl text-purple-500'>
            {cliqueRetire.company}
          </span>
          <span class='mt-1 text-gray-500 text-sm'>{cliqueRetire.date}</span>
        </div>

        <div class='md:flex-grow'>
          <h2 class='text-2xl font-semibold title-font mb-2'>
            {cliqueRetire.title}
          </h2>
          <p class='leading-relaxed'>{cliqueRetire.description}</p>
        </div>
      </div>

      <div class='py-8 flex flex-wrap md:flex-nowrap'>
        <div class='md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col'>
          <span class='font-semibold title-font text-2xl text-purple-500'>
            {haytek.company}
          </span>
          <span class='mt-1 text-gray-500 text-sm'>{haytek.date}</span>
        </div>

        <div class='md:flex-grow'>
          <h2 class='text-2xl font-semibold title-font mb-2'>
            {haytek.title}
          </h2>
          <p class='leading-relaxed'>{haytek.description}</p>
        </div>
      </div>
    </div>
  </div>
</section>
